@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root {
  --primary-color: #d4d4d4;      
  --hover-color: #e0e0e0;        
  --accent-color: #ff8500;       
  --text-color: #333333;        
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
}

main {
  padding-block: min(2em, 5%);   
  padding-inline: min(0.5em, 3%);;
  background-color: #eeeeee;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
  width: calc(100% - 320px);
  left: 320px;
  flex-grow: 1;

}

/* NAVBAR-TOP */
#nav-top {
  background-color: #f5f5f5;
  border-bottom: 1px solid #cecdcd;
  position: sticky;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
}

#nav-top ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#nav-top .bill-li {
  margin-right: auto;
}

#nav-top li {
  display: flex;
}

#nav-top a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  cursor: pointer;
}

#nav-top a:hover:not(.active-link) {
  background-color: var(--hover-color);
}

#nav-top a.active-link {
  border-bottom: 2px solid var(--accent-color);
  cursor: default;
  pointer-events: none;
}

#nav-top a.login-link {
  background-color: #5e5e5e;
  color: #fff;
}

#nav-top a.accent-link {
  background-color: var(--accent-color);
  color: #fff;
}

#nav-top #logo {
  height: 25px;
  width: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
}

#nav-top .search-li {
  position: relative;
  display: flex;
  width: 40%;
  align-items: center;
  margin: 0 2rem;
}

#nav-top .search-input {
  width: 100%;
  padding: 0.4em 0.1em 0.4em 0.8em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

#nav-top .search-input:focus {
  border-color: var(--accent-color);
}


#nav-top .search-li i {
  position: absolute;
  top: 16px;
  right: 15px;
  cursor: pointer;
}

/* PROFILE */
.offcanvas-orange {
  background-color: #fffaf5;
  color:  var(--text-color);
}

.offcanvas-orange .nav-link {
  color: #d35400;
  font-weight: 400;
  transition: background-color 0.2s;
}

.offcanvas-orange .nav-link:hover {
  background-color: #ffe6cc;
  color: #c0392b;
}

.offcanvas-orange .nav-link.text-danger:hover {
  background-color: #ffe5e0;
}

.offcanvas-orange .offcanvas-title {
  color: var(--accent-color);
}

.offcanvas-orange hr {
  border-color: #ffccaa;
}

.offcanvas-orange .nav-link.disabled {
  color: #6c757d !important;  
  background-color: #f8f9fa;  
  opacity: 0.6;              
  pointer-events: none;       
}

.offcanvas-orange .nav-link.disabled:hover {
    color: #6c757d !important;
    background-color: #f8f9fa;
}


/* CATEGORIES */
#nav-top .popdown {
  position: relative;
}

#nav-top .popdown-menu {
  position: absolute;
  top: 100%; 
  left: 10px;
  display: none;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 999;
  min-width: 250px;
}

#nav-top .popdown:hover .popdown-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 0.2em 0.4em;
}

#nav-top .popdown-menu li {
  list-style: none;
  text-align: center;
}

#nav-top .popdown-menu a {
  text-decoration: none;
  color: #333;
  display: block;
  width: 100%;
  font-size: 0.8em;
}

#nav-top .popdown-menu a:hover {
  color: var(--accent-color); 
}

#nav-top .category-section {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0 2rem;
}

#nav-top .category-wrapper {
  overflow-x: auto;
  scroll-behavior: smooth;
  flex: 1;
  -ms-overflow-style: none;
  padding-right: 2rem;
}

#nav-top .category-wrapper::-webkit-scrollbar {
  display: none; 
}

#nav-top .category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
  width: max-content;
  scroll-snap-type: x mandatory;
}

#nav-top .category-card {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  height: 100px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-top .category-card:hover {
  color: var(--hover-color); 
}

#nav-top .scroll-btn {
  background: var(--accent-color);
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
  border-radius: 4px;
}

#nav-top .scroll-btn.left {
  margin-right: 1rem;
}

#nav-top .scroll-btn.right {
  margin-left: 1rem;
}

#modalCategories .badge {
  color: #fff;
  padding: 0.5em 0.6em;
  border-radius: 0.4rem;
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-block;
}


/* PRODUCTS */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  height: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  max-width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.check-out {
  display: flex;
  gap: 10px; 
  justify-content: center; 
  margin-top: auto; /* Pushes buttons to bottom */
  flex-wrap: wrap;
}

.product-card button,
.view-details a.btn {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color, orange);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
}

.product-card button:hover,
.check-out a.btn:hover {
  background-color: #e69500;
  color: var(--text-color);
}

.product-card a.btn {
  background-color: #6c757d;
}


.carousel-item img {
  height: 280px; 
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  aside.sidebar {
    width: 100%;
  }
}

/*  FOOTER  */
footer {
  position: relative;
  font-size: 14px;
  background-color: #e9e9e9;
  border-top: 1px solid #cecdcd;
  text-align: center;
  padding: .8em 0;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  font-size: 16px;
  color: var(--text-color);
}

footer a:hover:not(.disabled-link){
  color: var(--accent-color);
}

footer i {
  margin: 10px 5px 0 0;
  color: var(--text-color);
}

/* SIDEBAR */

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #cecdcd;
  position: relative;
  top: 0;
  flex: 0 0 0 250px;
  width: 320px;
  font-weight: 300;
  overflow-x: hidden;
  display: none;
  transition: transform 0.3s ease;
}

.sidebar.closed {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  #offcanvasExample {
      width: 330px;
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40vh;
    overflow-y: auto;
  }
  #offcanvasExample {
    width: 300px;
  }
}